
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
      <div class="card-header bg-transparent pb-5">
          <div class="logo">    
                <div class="logo-img">
                  <img [src]= "logo+'img/angular2-logo-red.png'"/>
                </div>   
        </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-muted mb-4">
            <small >Entrez votre adresse e-mail pour recupérer votre mot de passe</small>
          </div>
          <form
          *ngIf="true"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate>
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="material-icons"> email</i></span>
                </div>
                <input class="form-control1" placeholder="email" type="text" name="email" 
                [(ngModel)]="form.email"
                required
                #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}">
             </div>
            <small class="text-danger" *ngIf="email.errors?.pattern"> Email invalide</small>
            </div>
            <div class="text-center">
              <button class="btn btn-primary my-4" (click)= "onSubmit()">Envoyer</button>
            </div> 
             <div class="form-group">
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="f.submitted && isEnvoieFailed">
                   {{ errorMessage }}
                </div>
              </div>
           </form>
          <div class="alert alert-success" *ngIf="emailEnvoye">
            {{ msg }}.
       </div>
        </div>











      </div> 
    </div>
  </div>
</div>
