<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    
                    <div class="card-header card-header-danger">
                             
                        <h4>Fiche Medecin </h4> 
                    </div>
                    <div class="card-body">
                        <mat-tab-group mat-align-tabs="center" dynamicHeight >
                            <mat-tab >
                                <ng-template mat-tab-label>
                                    <h5>Informations </h5>
                                 </ng-template>
                                <div >
                                    <div class="card-body">
                                        <form>
                                        
                                            <div class="car"><i class="material-icons ico">feed</i>  <h5 >Profil</h5></div>

                                            <div class="pl-lg-4">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label"
                                                                for="input-username">Identifiant</label>
                                                            <input type="text" id="input-username"
                                                                class="form-control form-control-alternative"
                                                                placeholder="-" value="{{ identifiant }}"
                                                                disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label"
                                                                for="input-email">Spécialité</label>
                                                            <input type="email" id="input-email"
                                                                class="form-control form-control-alternative"
                                                                placeholder="-"
                                                                value="{{specialite}}"
                                                                disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label"
                                                                for="input-first-name">Nom</label>
                                                            <input type="text" id="input-first-name"
                                                                class="form-control form-control-alternative"
                                                                placeholder="-"
                                                                value="{{liste.nom}}" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label"
                                                                for="input-last-name">Prénom</label>
                                                            <input type="text" id="input-last-name"
                                                                class="form-control form-control-alternative"
                                                                placeholder="-"
                                                                value="{{liste.prenom}}"  disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label"
                                                                for="input-city">Cin</label>
                                                            <input type="text" id="input-city"
                                                                class="form-control form-control-alternative"
                                                                placeholder="-"
                                                                value="{{liste.cin}}"  disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label"
                                                                for="input-last-name">Sexe</label>
                                                            <input type="text" id="input-last-name"
                                                                class="form-control form-control-alternative"
                                                                placeholder="-"
                                                                value="{{liste.sexe}}"  disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <hr class="my-4" />
                                            <!-- Address -->
                                            <div class="car"><i class="material-icons ico">call</i>  <h5 >Coordonnées</h5></div>
                                            <div class="pl-lg-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="form-control-label"
                                                                for="input-address">Adresse</label>
                                                            <input id="input-address"
                                                                class="form-control form-control-alternative"
                                                                placeholder="-"
                                                                value="{{liste.adresse}}"
                                                                type="text"  disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label class="form-control-label"
                                                                for="input-country">Ville</label>
                                                            <input type="text" id="input-country"
                                                                class="form-control form-control-alternative"
                                                                placeholder="-"
                                                                value="{{liste.ville}}"  disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label class="form-control-label"
                                                                for="input-country">Téléphone</label>
                                                            <input type="text" id="input-country"
                                                                class="form-control form-control-alternative"
                                                                placeholder="-"
                                                                value="{{liste.telephone}}"  disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label class="form-control-label"
                                                                for="input-country">Email</label>
                                                            <input type="text" id="input-postal-code"
                                                                class="form-control form-control-alternative"
                                                                placeholder="-"
                                                                value="{{liste.email}}" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            
                            </mat-tab>
                            <mat-tab >
                                <ng-template mat-tab-label>
                                    <h5>Patients </h5>
                                 </ng-template>
                                 <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <input ttype="text" class="form-control"
                                                placeholder="Rechercher" [(ngModel)]="rechercheMedecin
                                            " name="rechercheMedecin ">
                                        </div>
                                    </div>
                                <br/>
                                    <!-- </form>  -->
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class=" text-primary">
                                                <th>
                                                    Identifiant
                                                </th>
                                                <th>
                                                    Patient
                                                </th>
                                                <th>
                                                    Email
                                                </th>
                                                <th title ="Identifiant Permanent du Patient">
                                                    Ipp
                                                </th>
                                                <th>
                                                    Contact
                                                </th>
                                                <th>
                                                    Action
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let p of ListeInfoPatientCRRLedecin.permission | filter:rechercheMedecin | paginate : {
                                                    itemsPerPage: tableSize,
                                                    currentPage: page,
                                                    totalItems: count
                                                  };
                                                 let i = index" [class.active]="i == currentIndex ">

                                                    <td>
                                                        {{p.user.identifiant}}

                                                    </td>
                                                    <td>
                                                        {{p.user.nomComplet}} 

                                                    </td>
                                                    <td>
                                                        {{p.user.email}}
                                                    </td>
                                                    <td>
                                                        {{ p.ipp}}
                                                    </td>
                                                    <td>
                                                        {{p.user.telephone}}
                                                    </td>
                                                    <td>
                                                        <a title="Détails" href="#consulter"
                                                            (click)="personne=p.user;ipp=p.ipp"
                                                            data-toggle="modal">
                                                            <span class="material-icons">
                                                                visibility
                                                            </span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="col-md-12" *ngIf="taillePatients === 0">
                                            <p  class="text-center" >Aucun patient trouvé.</p>
                                          </div>
                                        <div class="rowL" *ngIf="taillePatients != 0">
                                            <div class="col-md-2">
                                                <select (change)="onTableSizeChange($event)"
                                                    class="custom-select">
                                                    <option *ngFor="let size of tableSizes"
                                                        [ngValue]="size">
                                                        {{ size }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div>
                                                <pagination-controls 
                                                previousLabel="Précédent" nextLabel="Suivant"
                                                    (pageChange)="onTableDataChange($event)">
                                                </pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab >
                                <ng-template mat-tab-label>
                                    <h5>Traçabilité </h5>
                                 </ng-template>
                                 <div class="container-fluid">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-body">
                                                <form>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control" placeholder="Type activité"
                                                                [(ngModel)]="filterTerm" name="filterTerm">
                                                        </div>
                                                        <div class="col-md-5">
                                                            <input type="date" #box3 (keyup)="onKeyactivite(box3.value)"
                                                               
                                                                placeholder="Date "
                                                                class="form-control form-control-alternative" name="searchdate"
                                                                [(ngModel)]="searchdate">
                                                        </div>
                                                        <div class="input-group col-md-1">
                                                            <button title="Rechercher" mat-raised-button type="button"
                                                                class=" btn btn-white btn-round btn-just-icon"
                                                                (click)="getdatebytracabilite()">
                                                                <i class="material-icons">search</i>
                                                                <div class="ripple-container"></div>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-hover">
                                                        <thead class=" text-primary">
                                                            <th>
                                                               Activité
                                                            </th>
                                                            <th>
                                                                Type activité
                                                            </th>
                                                            <th>
                                                                Date
                                                            </th>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let trace of tracabilite.historique| filter: filterTerm | paginate : {
                                                                itemsPerPage: tableSize,
                                                                currentPage: page,
                                                                totalItems: count
                                                              };
                                                             let i = index" [class.active]="i == currentIndex ">
                                                                <td>
                                                                    {{trace.message}}
                                                                </td>
                                                                <td>
                                                                    {{trace.activite.nomActivite}}
                                                                </td>
                                                                <td>
                                                                    {{trace.createdAt | date: 'dd/MM/yyyy hh:mm:ss'}}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="col-md-12" *ngIf="tailleTracabilite === 0">
                                                        <p  class="text-center" >Aucune traçabilité trouvée.</p>
                                                      </div>
                                                    <div class="rowL" *ngIf="tailleTracabilite != 0">
                                                        <div class="col-md-2">
                                                            <select class="custom-select" (change)="onTableSizeChange($event)"
                                                                class="custom-select">
                                                                <option *ngFor="let size of tableSizes" [ngValue]="size">
                                                                    {{ size }}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div>
                                                            <pagination-controls responsive="true" 
                                                            previousLabel="Précédent" nextLabel="Suivant" 
                                                            (pageChange)="onTableDataChange($event)">
                                                            </pagination-controls>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                            </div>
                        </div>
                    </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
<div class="modal fade" id="consulter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" #Update>
    <div class="modal-dialog modal-xl" role="document">          
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4> Fiche Info </h4>
                        </div>
                        

                            
                                <div class="card-body">
                                    
                                    <div class="car"><i class="material-icons ico">feed</i>  <h5 >Informations patient</h5></div>

                                        <div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label"
                                                            for="input-username">Nom</label>
                                                        <input type="text"
                                                            class="form-control form-control-alternative"
                                                            placeholder="Nom" name="nom" disabled
                                                            [(ngModel)]="personne.nom">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label"
                                                            for="input-username">Prénom</label>
                                                        <input type="text"
                                                            class="form-control form-control-alternative"
                                                            placeholder="Prénom" name="prenom"  disabled
                                                            [(ngModel)]="personne.prenom">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label"
                                                            for="input-username">Ipp</label>
                                                        <input type="text" title ="Identifiant Permanent du Patient"
                                                            class="form-control form-control-alternative"
                                                            placeholder="Ipp" name="ipp" [(ngModel)]="ipp"
                                                            disabled>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-username">Date
                                                            de Naissance</label>
                                                        <input type="text"
                                                            class="form-control form-control-alternative"
                                                            placeholder="Date de naissance" name="dateNaissance"
                                                            disabled [(ngModel)]="personne.dateNaissance">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="my-4" />
                                        <div class="car"><i class="material-icons ico">call</i>  <h5 >Coordonnées</h5></div>

                                        <div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label"
                                                            for="input-username">Adresse</label>
                                                        <input type="text"
                                                            class="form-control form-control-alternative"
                                                            placeholder="Adresse" name="adresse" disabled
                                                            [(ngModel)]="personne.adresse">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label"
                                                            for="input-username">Ville</label>
                                                        <input type="text"
                                                            class="form-control form-control-alternative"
                                                            placeholder="Ville" name="ville" disabled
                                                            [(ngModel)]="personne.prenom">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label"
                                                            for="input-username">Telephone</label>
                                                        <input type="text"
                                                            class="form-control form-control-alternative"
                                                            placeholder="Telephone" name="telephone" disabled
                                                            [(ngModel)]="personne.telephone">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label"
                                                            for="input-username">Email</label>
                                                        <input type="text"
                                                            class="form-control form-control-alternative"
                                                            placeholder="Email" name="email" disabled
                                                            [(ngModel)]="personne.email">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                        
                                </div>
                                                         
                       
                    </div>
                    <!--/.card-->
                </div>
                <!--/.modal header-->
                <div class="modal-footer">
                   
                        <input type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" value="Fermer">

                </div>   
            </div>           
    </div>
</div>