<div class="main-content">
  <div class="container-fluid">
    <div class="row" justify-content-center>
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <mat-tab-group mat-align-tabs="center" dynamicHeight>
              <!-- l'onglet Informations  -->
              <mat-tab >
                <ng-template mat-tab-label>
                  <h5>Informations </h5>
                </ng-template>
                <div >
                  <div class="card-body">
                    <form  (ngSubmit)="f.form.valid"  #f="ngForm" > 
                      <div class="car"><i class="material-icons">feed</i>  <h5 >Profil</h5></div>
                      <div class="pl-lg-4">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="form-group">
                              <label class="form-control-label" for="input-username">Identifiant</label>
                              <input type="text" id="input-username" class="form-control form-control-alternative"
                                placeholder="-" name="Identifiant" disabled
                                [(ngModel)]="liste.identifiant">
                            </div>
                          </div>
                          <div class="col-lg-6">
                          
                            <div class="form-group">
                              <label class="form-control-label" for="input-country">Cin</label>
                              <input type="text"  class="form-control form-control-alternative"
                                placeholder="-" name="cin"  #cin='ngModel'  [(ngModel)]="liste.cin"  pattern="[a-zA-Z/0-9]{1,30}">
                                <small class="text-danger" *ngIf="cin.errors?.pattern"> Cin Invalide</small>
                              </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="form-group">
                              <label class="form-control-label" for="input-first-name">Nom</label>
                              <input type="text" id="input-first-name" class="form-control form-control-alternative"
                                placeholder="-" name="nom" #nom='ngModel'  [(ngModel)]="liste.nom" pattern="^[a-zA-Z]+( [a-zA-Z]+)*$">
                                <small class="text-danger" *ngIf="nom.errors?.pattern"> Nom invalide</small>
                              </div>
                          </div>
                          <div class="col-lg-6">
                          
                            <div class="form-group">
                              <label class="form-control-label" for="input-last-name">Prénom</label>
                              <input type="text" id="input-last-name" class="form-control form-control-alternative"
                                placeholder="-" name="prenom" #prenom='ngModel'  [(ngModel)]="liste.prenom" pattern="^[a-zA-Z]+( [a-zA-Z]+)*$" >
                                <small class="text-danger" *ngIf="prenom.errors?.pattern"> Prénom invalide</small>
                              </div>
                          </div>

                        </div>
                      </div>
                      <hr class="my-4" />
                      <div class="car"><i class="material-icons">call</i>  <h5 >Coordonnées</h5></div>

                      <div class="pl-lg-4">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="form-control-label" for="input-address">Adresse</label>
                              <input id="input-address" class="form-control form-control-alternative"
                                placeholder="-" name="adresse" type="text" [(ngModel)]="liste.adresse">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-4">
                            <div class="form-group">
                              <label class="form-control-label" for="input-city">Ville</label>
                              <input type="text" id="input-city" class="form-control form-control-alternative"
                                placeholder="-" name="ville"  #ville='ngModel' [(ngModel)]="liste.ville" pattern="^[a-zA-Z]+( [a-zA-Z]+)*$">
                                <small class="text-danger" *ngIf="ville.errors?.pattern"> Ville invalide</small>
                              </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="form-group">
                              <label class="form-control-label" for="input-country">Téléphone</label>
                              <input type="text" id="input-country" class="form-control form-control-alternative"
                                placeholder="-" name="telephone"  #telephone='ngModel' [(ngModel)]="liste.telephone" pattern="[0-9/+ ]{0,30}">
                                <small class="text-danger" *ngIf="telephone.errors?.pattern"> Téléphone invalide</small>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="form-group">
                              <label class="form-control-label" for="input-country">Email</label>
                              <input type="text" class="form-control form-control-alternative"
                                placeholder="-" name="email"  #email='ngModel'  [(ngModel)]="liste.email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}">
                                <small class="text-danger" *ngIf="email.errors?.pattern"> Email invalide</small>
                              </div>
                          </div>
                        </div>
                      </div>
                      <button [disabled]="f.form.invalid" mat-raised-button class="btn btn-info pull-right" (click)="onupdatelaboUserLabo()">
                        Enregistrer</button>
                    </form>
                  </div>
                </div>
              </mat-tab>
              <!-- l'onglet Connexion  -->
              <mat-tab >
                <ng-template mat-tab-label>
                  <h5>Connexion</h5>
                 </ng-template>
                <div>
                  <div class="card-body cardd">
                    <form *ngIf="true" name="form" id="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
                      <div class="car"><i class="material-icons">edit</i>  <h5 >Modification mot de passe</h5></div>

                      <div class="mb-3">
                        <label for="Actuelmd" class="form-label">Mot de passe Actuel <label class="labelCol"> (*)</label></label>
                        <input type="password" class="form-control" name="oldPassword" [(ngModel)]="form.oldPassword"
                          required #oldPassword="ngModel">
                
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Nouveau mot de passe <label class="labelCol"> (*)</label></label>
                        <input type="password" class="form-control" name="newPassword" [(ngModel)]="form.newPassword"
                          required minlength="4" #newPassword="ngModel" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,20}$">
                        <div>
                          <small class="text-danger" *ngIf="newPassword.errors?.pattern"> Minimum 8 caractères (au moins une lettre minuscule, une lettre majuscule et un chiffre) et maximum 20 caractères.</small>
                          
                        </div>
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Confirmer le nouveau mot de passe <label class="labelCol"> (*)</label></label>
                        <input type="password" class="form-control" name="confirmPassw" [(ngModel)]="form.confirmPassw"
                          required #confirmPassw="ngModel">
                        <div>
                         
                          <div *ngIf="confirmPassw.valid && confirmPassw.value != newPassword.value">
                            <small class="text-danger">les mots de passe ne correspondent pas </small>
                          </div>
                        </div>
                      </div>
                      <button  [disabled]="confirmPassw.value != newPassword.value || f.form.invalid" mat-raised-button class="btn btn-info pull-right" (click)= "updatepasswod()"> Enregistrer</button>
                    </form>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>