<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-header card-header-danger">

                        <h4>Fiche Patient </h4>
                    </div>
                    <div class="card-body">
                        <mat-tab-group mat-align-tabs="center" dynamicHeight>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <h5>Informations </h5>
                                </ng-template>
                                <div>
                                    <div class="card-body">
                                        <form>

                                            <div class="car"><i class="material-icons ico">feed</i>
                                                <h5>Profil</h5>
                                            </div>

                                            <div class="pl-lg-4">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label"
                                                                for="input-username">Identifiant</label>
                                                            <input type="text" id="input-username"
                                                                class="form-control form-control-alternative"
                                                                placeholder="Identifiant" value="{{ identifiant }}"
                                                                disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label"
                                                                for="input-email">Ipp</label>
                                                            <input title ="Identifiant Permanent du Patient" type="email" id="input-email"
                                                                class="form-control form-control-alternative"
                                                                placeholder="Ipp" value="{{ipp}}" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label"
                                                                for="input-first-name">Nom</label>
                                                            <input type="text" 
                                                                class="form-control form-control-alternative"
                                                                placeholder="nom" value="{{liste.nom}}" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label"
                                                                for="input-last-name">Prénom</label>
                                                            <input type="text" 
                                                                class="form-control form-control-alternative"
                                                                placeholder="Prénom" value="{{liste.prenom}}" disabled>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                      <div class="form-group">
                                                        <label class="form-control-label" for="input-first-name">Date de naissance</label>
                                                        <input type="text"  class="form-control form-control-alternative" placeholder="-"  name="dateNaissance"  value="{{dateNaissance}}"  disabled>
                                                      </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                      <div class="form-group">
                                                        <label class="form-control-label" for="input-last-name">Sexe</label>
                                                        <input type="text"  class="form-control form-control-alternative"  placeholder="-" name="sexe"  value="{{liste.sexe}}"   disabled>
                                                      </div>
                                                    </div>
                                                  </div>


                                                  <div class="row">
                                                    <div class="col-lg-6">
                                                      <div class="form-group">
                                                        <label class="form-control-label" for="input-cin">Cin</label>
                                                        <input type="text" id="input-cin" class="form-control form-control-alternative" placeholder="-"  name="cin"  value="{{liste.cin}}"  disabled>
                                                      </div>
                                                    </div>
                                                   
                                                  </div>




                                            </div>
                                            <hr class="my-4" />
                                            <!-- Address -->
                                            <div class="car"><i class="material-icons ico">group</i>
                                                <h5>Médecins Prescripteurs</h5>
                                            </div>

                                            <div class="pl-lg-4">
                                                <div class="row">
                                                    <div class="col-md-4"
                                                        *ngFor="let p of listeMedecinPatient.permission">
                                                        <div class="form-group">
                                                            <label class="form-control-label"
                                                                for="input-email">Medecin</label>
                                                            <div
                                                                *ngIf="p.permission==null; then thenBlock else elseBlock">
                                                            </div>

                                                            <ng-template #thenBlock>
                                                            </ng-template>
                                                            <ng-template #elseBlock>
                                                                <div class="row">
                                                                    <div class="col-lg-11">
                                                                        <div class="form-group">
                                                                          
                                                                                {{p.user.prenom}} {{p.user.nom}}
                                                                                <button  (click)="retrievepermission(p.user.identifiant,liste.identifiant,p.permission[0].idPermission)" type="button" class="close" aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                           
                                                                           <hr>
                                                                               
                                                                        </div>
                                                                        
                                                                    </div>
                                                                    
                                                                </div>
                                                            </ng-template>
                                                        </div>
                                                        <ng-template #thenBlock>
                                                        </ng-template>
                                                        <ng-template #elseBlock>
                                                            <input type="email" id="input-email"
                                                                class="form-control form-control-alternative"
                                                                placeholder="medecin"
                                                                value="{{p.user.nom}} {{p.user.prenom}}" disabled>
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </div>
                                            <a  class="btn btn-info pull-left" (click) = "loadMedecin()" data-toggle="modal" data-target="#lock" >
                                                Ajouter
                                            </a>
                                           
                                            <hr class="my-4" />
                                            <!-- Address -->
                                            <div class="car"><i class="material-icons ico">call</i>
                                                <h5>Coordonnées</h5>
                                            </div>
                                            <div class="pl-lg-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="form-control-label"
                                                                for="input-address">Adresse</label>
                                                            <input id="input-address"
                                                                class="form-control form-control-alternative"
                                                                placeholder="-" value="{{liste.adresse}}"
                                                                type="text" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label class="form-control-label"
                                                                for="input-ville">Ville</label>
                                                            <input type="text" id="input-ville"
                                                                class="form-control form-control-alternative"
                                                                placeholder="-" value="{{liste.ville}}" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label class="form-control-label"
                                                                for="input-country">Téléphone</label>
                                                            <input type="text" id="input-country"
                                                                class="form-control form-control-alternative"
                                                                placeholder="-" value="{{liste.telephone}}" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label class="form-control-label"
                                                                for="input-country">Email</label>
                                                            <input type="text" id="input-postal-code"
                                                                class="form-control form-control-alternative"
                                                                placeholder="-" value="{{liste.email}}" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <h5>Comptes Rendus </h5>
                                </ng-template>
                                <div class="container-fluid">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-body">
                                                <form (ngSubmit)="f.formu.valid"  #f="ngForm"> 
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <input type="text" #box (keyup)="onKey(box.value)"
                                                                placeholder="Numéro Dossier"
                                                                class="form-control form-control-alternative"
                                                                name="numDossier"  #numDossier='ngModel' [(ngModel)]="formu.numDossier" pattern="[a-zA-Z/0-9]{1,30}">
                                                                <small class="text-danger" *ngIf="numDossier.errors?.pattern"> Numéro Invalide</small>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <input type="text"  (keyup)="onKey(nomMedecin)"
                                                                placeholder="Médecin prescripteur"
                                                                class="form-control form-control-alternative"
                                                                name="nomMedecin" #nomMedecin='ngModel' [(ngModel)]="formu.nomMedecin" pattern="^[a-zA-Z]+( [a-zA-Z]+)*$" >
                                                                <small class="text-danger" *ngIf="nomMedecin.errors?.pattern"> Nom invalide</small>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <input type="text" (keyup)="onKey(dateDebut)"  (change)="elog(dateDebut)" onfocus="(this.type='date')"
                                                            placeholder="Date Début"  
                                                                
                                                                class="form-control form-control-alternative"
                                                                name="dateDebut" [(ngModel)]="dateDebut">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <input type="text" title ="Date Fin"  (keyup)="onKey(dateFin)"
                                                            onfocus="(this.type='date')" (change)="elog(dateFin)"
                                                                placeholder="Date Fin"
                                                                class="form-control form-control-alternative"
                                                                name="dateFin" [(ngModel)]="dateFin">
                                                                <small class="text-danger" *ngIf="dateInvalide"> Date de fin doit être supérieure à date de début </small>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <button title="Rechercher" mat-raised-button type="button"
                                                            class=" btn btn-white btn-round btn-just-icon"
                                                            (click)="retrieveCrrPag('dateCreation', 'DESC')">
                                                            <i class="material-icons">search</i>
                                                            <div class="ripple-container"></div>
                                                        </button>
                                                    </div>
                                                </div>
                                                 </form> 
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead class=" text-primary">
                                                            <th>Médecin prescripteur</th>
                                                            <th>Numéro dossier</th>
                                                            <th>Date</th>
                                                            <th>Biologiste valideur</th>
                                                            <th>CRR</th>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let p of crr  | paginate : {
                                                                itemsPerPage: pageSize,
                                                                currentPage: page,
                                                                totalItems: count
                                                              };
                                                             let i = index" [class.active]="i == currentIndex "
                                                                (click)="setActiveElement(p, i)">
                                                                <div
                                                                    *ngIf="p.medecin==null ; then thenBlock else elseBlock">

                                                                </div>
                                                                <ng-template #thenBlock>
                                                                    <td></td>
                                                                </ng-template>
                                                                <ng-template #elseBlock>
                                                                    <td>{{p.medecin.user.nomComplet}}
                                                                      
                                                                    </td>
                                                                </ng-template>
                                                                <div
                                                                    *ngIf="p.compterendu==null; then thenBlock2 else elseBlock2">

                                                                </div>
                                                                <ng-template #thenBlock2>
                                                                    <td colspan="4">
                                                                        <div class="progress">
                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                                                role="progressbar" aria-valuenow="75"
                                                                                aria-valuemin="0" aria-valuemax="100"
                                                                                style="width: 75%"></div>
                                                                        </div>
                                                                    </td>
                                                                </ng-template>
                                                                <ng-template #elseBlock2>
                                                                    <td>{{p.compterendu.numDossier}}</td>
                                                                    <td>{{p.compterendu.dateCreation | date:
                                                                        'dd/MM/yyyy' }}
                                                                    </td>
                                                                    <td>{{p.compterendu.biologisteValideur}}</td>
                                                                    <td>
                                                                        <a href="{{p.compterendu.path}}"
                                                                            (click)="valueUser=p.path;getpath(p.compterendu.path)"
                                                                            data-toggle="modal" data-target="#myModal">
                                                                            <img class="img"
                                                                                 [src]= "urlAssets+'img/pdf.png'" />
                                                                        </a>
                                                                    </td>
                                                                </ng-template>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="col-md-12" *ngIf="count === 0">
                                                        <p  class="text-center" >Aucun CRR trouvé.</p>
                                                      </div>
                                                    <div class="rowL" *ngIf="count != 0">
                                                        <div class="col-md-2">

                                                            <select class="custom-select"
                                                                (change)="handlePageSizeChange($event)"
                                                                class="custom-select">
                                                                <option *ngFor="let size of pageSizes"
                                                                    [ngValue]="size">
                                                                    {{ size }}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div>
                                                            <pagination-controls responsive="true" 
                                                            previousLabel="Précédent" nextLabel="Suivant"
                                                                (pageChange)="handlePageChange($event)">
                                                            </pagination-controls>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                        
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <h5>Traçabilité </h5>
                                </ng-template>
                                <div class="container-fluid">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-body">

                                                <div class="row">

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control"
                                                                placeholder="Type activité" [(ngModel)]="filterTerm"
                                                                name="filterTerm">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <input type="date" #box3 (keyup)="onKeyactivite(box3.value)"
                                                               
                                                                placeholder="Date "
                                                                class="form-control form-control-alternative"
                                                                name="searchdate" [(ngModel)]="searchdate">
                                                        </div>
                                                    </div>
                                                    <div class="input-group col-md-2">
                                                        <button title="Rechercher" mat-raised-button type="button"
                                                            class=" btn btn-white btn-round btn-just-icon"
                                                            (click)="getdatebytracabilite()">
                                                            <i class="material-icons">search</i>
                                                            <div class="ripple-container"></div>
                                                        </button>
                                                    </div>

                                                </div>

                                                <div class="table-responsive">
                                                    <table class="table table-striped table-hover">
                                                        <thead class=" text-primary">
                                                            <th>
                                                                Activité
                                                            </th>
                                                            <th>
                                                                Type activité
                                                            </th>
                                                            <th>
                                                                Date
                                                            </th>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let trace of tracabilite.historique| filter:filterTerm | paginate : {
                                                    itemsPerPage: TrtableSize,
                                                    currentPage: pages,
                                                    totalItems: trcount
                                                  };
                                                 let i = index" [class.active]="i == currentIndex ">
                                                                <td>
                                                                    {{trace.message}}
                                                                </td>
                                                                <td>
                                                                    {{trace.activite.nomActivite}}
                                                                </td>
                                                                <td>
                                                                    {{trace.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="col-md-12" *ngIf="trcount === 0">
                                                        <p  class="text-center" >Aucune traçabilité trouvée.</p>
                                                      </div>
                                                    <div class="rowL" *ngIf="trcount != 0">
                                                        <div class="col-md-2">

                                                            <select class="custom-select"
                                                                (change)="onTableSizeChangeracabilitee($event)"
                                                                class="custom-select">
                                                                <option *ngFor="let size1 of trtableSizes"
                                                                    [ngValue]="size1">
                                                                    {{ size1 }}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div>
                                                            <pagination-controls responsive="true" previousLabel="Précédent"
                                                                nextLabel="Suivant"
                                                                (pageChange)="onTableDataChangTracabilitee($event)">
                                                            </pagination-controls>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </mat-tab>



                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="lock" class="modal fade top" #addMedecin>
        <div class="modal-dialog">
            <div class="modal-content ">
                <form [formGroup]="form" (ngSubmit)="ajouterMedecin()">
                    <div class="modal-header">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4> Ajouter Medecin</h4>
                            </div>
                            <div class="card1">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="rechercher medecin..."
                                            name="rechercheMedecin" [(ngModel)]="rechercheMedecin"
                                            [ngModelOptions]="{standalone: true}" />
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <select id="select" class="form-control" multiple
                                            aria-label="multiple select example" id="exampleFormControlSelect1"
                                            formControlName="medecin">
                                            <option *ngFor="let option of MedecinListe | filter:rechercheMedecin"
                                                [value]="option.user.identifiant" [selected]="option.selected == true">
                                                {{option.user.nom}}
                                                {{option.user.prenom}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" value="Annuler"
                            #addMedecin>


                        <button  type="submit" class="btn btn-info" >Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div  *ngIf='open' class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl test" role="document">
        <!--Content-->
        <div class="modal-content test1">
            <!--Header-->
            <div class="modal-body">
                <iframe [src]='getLinks' class="resp-iframe" frameborder="0" webkitallowfullscreen
                mozallowfullscreen allowfullscreen>
            </iframe>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" value="Fermer">

            </div>
        </div>
    </div>
</div>