@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
}

h5{
    font-family: "Montserrat" , sans-serif;
   
    font-size: 1.47em;
}
.btn-info{
    background-color: #009fe3 !important;

}
.btn-info:hover{
    background-color: #009fe3 !important;
}