<div class="container mt--8 pb-5" >
  <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">
                  <!-- header logo -->
              <div class="card-header bg-transparent pb-5">
                  <div class="logo">
                      <div class="logo-img">
                        <img [src]= "logo+'img/angular2-logo-red.png'"/>
                      </div>
                  </div>
              </div>
                  <!-- body Card -->
              <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                      <small>Connectez-vous à Ires pour consulter vos résultats</small>
                    </div>
                    <form *ngIf="true"  name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
                              <!-- identifiant -->
                          <div class="form-group">
                              <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="material-icons"> person</i></span>
                                </div>
                                <input class="form-control1" placeholder="Identifiant" type="text" name="identifiant"  [(ngModel)]="form.identifiant" required #identifiant="ngModel">
                              </div>
                          </div>
                               <!-- Mot de passe -->
                          <div class="form-group">
                              <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="material-icons"> lock</i></span>
                                </div>
                                <input matInput class="form-control1" placeholder="Password" type="password" [type] ="hide ? 'password':'text'" name="password" [(ngModel)]="form.password" required minlength="3" #password="ngModel">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="material-icons" (click) ="hide = !hide"> {{hide ? 'visibility' : 'visibility_off'}}</i></span>
                                </div>
                              </div>
                          </div>
                               <!-- Boutton  -->
                          <div class="text-center">
                            <button  class="btn btn-primary my-4" (click)="onSubmit(content)">Se connecter</button>
                          </div>
                               <!-- Alert -->
                          <div class="form-group">
                            <div
                              class="alert alert-danger"
                              role="alert"
                              *ngIf="f.submitted && isLoginFailed"
                            >
                            {{ errorMessage }}
                            </div>
                          </div>
                          <div class="col-6">
                            <a [routerLink]="['/emailresetPass']" class="text-light"><small><u>Password oublié?</u></small></a>
                          </div>
                    </form>
              </div>
        </div>
      </div>
  </div>
</div>
<!-- Modal pour changer le mot de passe (premiere connexion) -->
<ng-template class="back" #content let-modal>
    <div class="card bg-secondary shadow border-0  card11">
            <!-- header logo -->
      <div class="card-header bg-transparent pb-5">
          <div class="logo">
                  <div class="logo-img">
                    <img [src]= "logo+'img/angular2-logo-red.png'"/>
                  </div>
          </div>
      </div>
             <!-- body card -->
      <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small >Première connexion, veuillez modifier votre mot de passe</small>
          </div>
          <form  *ngIf="true" name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate >
                <div class="form-group mb-3">
                      <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="material-icons"> password</i></span>
                          </div>
                          <input class="form-control1" placeholder="Nouveau mot de passe" type="password" [type] ="hide ? 'password':'text'" name="nvpassword" [(ngModel)]="form.nvpassword" required #password="ngModel" 
                          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,20}$">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="material-icons" (click) ="hide = !hide"> {{hide ? 'visibility' : 'visibility_off'}}</i></span>
                          </div>
                      </div>
                      <div *ngIf="password.touched && password.invalid">
                          <small *ngIf="password.errors.required" class="text-danger">Mot de passe requis <br></small>
                      </div>
                      <small class="text-danger" *ngIf="password.errors?.pattern"> Minimum 8 caractères (au moins une lettre minuscule, une lettre majuscule et un chiffre) et maximum 20 caractères.</small>

                </div>
                <div class="form-group">
                      <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                             <span class="input-group-text"><i class="material-icons"> confirmation_number</i></span>
                          </div>
                          <input class="form-control1" placeholder="Confirmer mot de passe" type="password" [type] ="hide1 ? 'password':'text'" name="repassword" [(ngModel)]="form.repassword" required #repassword="ngModel">
                          <div class="input-group-prepend">
                             <span class="input-group-text"><i class="material-icons" (click) ="hide1 = !hide1"> {{hide1 ? 'visibility' : 'visibility_off'}}</i></span>
                          </div>
                      </div>
                      <div *ngIf="repassword.touched && repassword.invalid">
                        <small *ngIf="repassword.errors.required" class="text-danger">Confirmer mot de passe requis<br></small>
                      </div>
                      <div *ngIf="repassword.valid && repassword.value != password.value" class="text-danger">
                             Les mots de passe ne correspondent pas. 
                      </div>
                </div>
                <div class="text-center">
                    <button  class="btn btn-primary my-4" [disabled]="repassword.value != password.value || f.form.invalid"  (click)="changerMdp(); modal.dismiss()" >Modifier</button>
                </div>
          </form>
      </div>
    </div>
</ng-template>

